<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Scripts/extjs/resources/css/ext-all.css" rel="stylesheet" />
    @Styles.Render("~/css/site")
    @Scripts.Render("~/js/modernizr")
</head>
<body>
    
@* *@
    <table border="0" cellpadding="25" width="100%" bordercolor="#003366">
        <tr>
            <td colspan="3" bgcolor="#FFFFFF">
                <h1 align="left" title=" Adviser ">
                    <font face=" fantasy " color="green" size="+3">
                        <em>&nbsp;Adviser</em>
                    </font>
                </h1><h4>    cайт рекомендаций </h4>
            </td>
            <td>
                <img src="/Content/Images/fallout.png" width="120" height="120" align="right">
            </td>
        </tr>
        <tr>
            <td colspan="3" bgcolor="ddffgg" height="0,02">
                <h4 align="left" title="">
                    <font face="Courier New, Courier, monospace" , size=2>&nbsp;</font>
                    <a href="Poisk.html">Поиск</a>  |  @if (ViewBag.IsAuthorized)
                    { <a href="Mypage.phtml">Настройки </a> } 
                    else
                    { <a href="/UserData/Register">Регистрация</a>  } |
                    @if (ViewBag.IsAuthorized)
                    { <a href="/ProductData/MyProducts"> Мои товары</a> }
            <td bgcolor="ddffgg" width="25%" height="0,02">
                @*<form action="Autorization.phtml" method="post">
                 <table>
                     <tr>
                         <td align="right"><font size=6>Логин:</font></td>
                         <td align="left"><input type=text style="width:60; height:20;" name=login></td>
                     </tr>
                     <tr>
                         <td align="right"><font size=6>Пароль:</font></td>
                         <td align="left"><input type=text style="width:60; height:20;" name=pass></td>
                     </tr>
                     <tr>
                         <td></td>
                         <td align="right"><input type=submit value=Войти style="width:auto; height:auto;"></td>
                     </tr>
                </table>
            </form>*@
                @if (ViewBag.IsAuthorized)
                {
                    <a href="/User/LogOff">Выйти</a>
                }
                else
                {
                    <a href="/User/Login">Войти</a>
                }
            </td>
        </tr>
    </table> 


    @RenderBody()
    @Scripts.Render("~/js/extjs")
    @RenderSection("scripts", required: false)
</body>
</html>
