@using System.Web.Mvc
@model UI.Models.ProductModel
@{
    ViewBag.Title = "Добавление товара";
}
<br>
<table>
    <tr>
        @using (Html.BeginForm("Add", "ProductData", FormMethod.Post))
        {

            @Html.ValidationSummary(true)
            <td width="100%">

                <h2><font color="green"><center> Добавление нового товара </center></font></h2>
                <br>
                <br>
                <table border="0" width="100%" align="center">
                    <tr>
                        <td align="center" width="50%"><b>Введите название товара(услуги): </b></td>
                        <td>@Html.TextBox("Name")</td>
                        <td>@Html.ValidationMessage("Name")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите информацию о товаре(услуге): </b></td>
                        <td>@Html.TextArea("Info")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите минимальную цену: </b></td>
                        <td>@Html.TextBox("MinValue")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите максимальную цену: </b></td>
                        <td>@Html.TextBox("MaxValue")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Выберите категорию </b></td>
                        @*<td>@Html.TextBox("Category")</td>*@
                        <td>@Html.DropDownList("Category",new SelectList(ViewBag.Categories))</td>
                        <td>@Html.ValidationMessage("Category")</td>
                        
                    </tr>
                    @*<input type=hidden value=1 name= type>*@
                    
                    <tr>
                        <td align ="center" width="100%">
                          <br />  <input type=submit value="Добавить предложение">
                        </td>
                    </tr>
                    <tr>
                       <td align="center" width="100%">
                          <br />  <a>*Добавить фото к предложению можно при редактировании </a>

                        </td>
                    </tr>
                    
                </table>
            </td>
            <td width="20%"></td>
        }

    </tr>
</table>
