@model UI.Models.ProductModel
@{
    ViewBag.Title = "Добавление товара";
}
<br>
<table>
    <tr>
        @using (Html.BeginForm("Add", "ProductData", FormMethod.Post))
        {

            @Html.ValidationSummary(true)
            <td width="30%">
                <table border="0" width="100%" align="center">
                    <tr>
                        <td><div class="editor-label">Фотография</div> </td>
                    </tr>
                    <tr>
                        <td align="center" width="100%">
                            <div class="editor-field">
                                @*
                                    Вот здесь надо оставить просто if(Model.PhotosId.Count==0)
                                *@
                                @if ((Model == null) || (Model.PhotosId == null) || (Model.PhotosId.Count == 0))
                                {
                                    <b>Нет изображения</b>
                                }
                                else
                                {
                                    <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.Id })" />
                                }
                                Загрузить фотографию:
                                <input type="file" name="Image" />

                            </div>
                        </td>
                    </tr>


                </table>
            </td>


            <td width="50%">

                <h2><font color="green"><center> Добавление нового товара </center></font></h2>
                <br>
                <br>
                <table border="0" width="100%" align="center">
                    <tr>
                        <td align="center" width="50%"><b>Введите название товара(услуги): </b></td>
                        <td>@Html.TextBox("Name")</td>
                        <td>@Html.ValidationMessage("Name")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите информацию о товаре(услуге): </b></td>
                        <td>@Html.TextArea("Info")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите минимальную цену: </b></td>
                        <td>@Html.TextBox("MinValue")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите максимальную цену: </b></td>
                        <td>@Html.TextBox("MaxValue")</td>
                    </tr>
                    <tr>
                        <td align="center" width="50%"><b>Введите название категории </b></td>
                        <td>@Html.TextBox("Category")</td>
                        <td>@Html.ValidationMessage("Category")</td>
                    </tr>
                    @*<input type=hidden value=1 name= type>*@
                    <tr>
                        <td>
                            <input type=submit value="Добавить услугу">
                        </td>
                    </tr>
                    }
                </table>
            </td>
            <td width="20%"></td>
        }

    </tr>
</table>
