@model UI.Models.ProductModel

@{
    ViewBag.Title = "Главная страница товара";
}
<br>
<table>
    <tr>

        @using (Html.BeginForm("Index", "ProductData", FormMethod.Post))
        {
        <td width="20%"></td>
            <td width="50%">
                <h2><font color="green"><center> Главная страница товара </center></font></h2>
                <br><br>
                <table border="0" width="100%" align="center">
                    <tr>

                        <td>
                            @Html.HiddenFor(m => m.Id)
                            <a href="/UserData/Index/?login=@Model.UserLogin">@Model.UserLogin</a>
                        </td>
                        <td> @Html.DisplayFor(m => m.DateOfCreate)</td>
                    </tr>
                    <tr><td></td></tr>
                    @if (Model.Rating != 0)
                    {
                        @Html.DisplayFor(m => m.Rating)
                    }
                    <tr>
                        <td> @Html.LabelFor(m => m.Name, "Название товара")</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td>                    @Html.LabelFor(m => m.Info, "Информация")                    </td>
                        <td>                @Html.DisplayFor(m => m.Info)                </td>
                    </tr>

                    <tr>
                        <td>             @Html.LabelFor(m => m.MinValue, "Минимальная цена")                    </td>
                        <td>             @Html.DisplayFor(m => m.MinValue)                </td>
                    </tr>
                    <tr>
                        <td>                @Html.LabelFor(m => m.MaxValue, "Максимальная цена")            </td>
                        <td>             @Html.DisplayFor(m => m.MaxValue)                               </td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(m => m.Category, "Категория")</td>
                        <td>@Html.DisplayFor(m => m.Category)</td>
                    </tr>
                </table>
            </td>
            
    <td width="20%"></td>
    

                if (ViewBag.IsAuthorized && ViewBag.Login == Model.UserLogin)
                {
                <td width="30%">
        <table border="0" width="100%" align="center">
            <tr>
                <td>
                    <a href="/ProductData/Edit/@Model.Id">Редактировать товар</a>
                </td>
            </tr>
            </table></td>
                }
                else
                {
                
            <tr>
                <td> <img src="/Content/Images/палец_вверх.jpg" width="70" height="70" onclick='this.src = "/Content/Images/палец_вверх_нажато.png"' /></td>
            </tr>
            <tr>
                <td>
                    <img src="/Content/Images/палец_вниз.jpg" width="70" height="70" onclick='this.src = "/Content/Images/палец_вниз_нажато.png"' /></td>
            </tr>

                @*//поле для оставления оценок
            //!!!!! хочу здесь звездочки!!! Алсу, ты умеешь?
            //а еще как-то нужно сделать так, чтобы ты не могу голосовать больше 1го раза

            //using (Html.BeginForm("Edit", "ProductData", FormMethod.Post))
            {
            @Html.TextBox("Rating");//пусть пока это, тут должна быть оценка
            //p><input type="submit" value="Оставить" /></p>*@
                }
                }
                @*//поле для комментариев*@
                if (ViewBag.IsAuthorized)
                {
            <tr>
                <td>
                    @Html.TextArea("Comment");
                    <p><input type="submit" value="Оставить отзыв" /></p>
                </td>
            </tr>
                }
                else
                {
               <tr><td> @Html.Display("К сожалению, только авторизированные пользователи могут оставлять комментарии")</td></tr>
                }
                {
            <tr><td><a href="/ProductData/Comments/@Model.Id">Все отзывы на товар</a></td></tr>
                }
                @*/а вот тут должны отображаться уже оставленные комментарии
            //Но их пока нет
            //оставь для них место, ладно?*@
        </table>
</td>
        }
</table>