@model UI.Models.UserModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "UserData", FormMethod.Post))
{
 /*   <p>Введите логин: </p>
    @Html.TextBox("Login")
    <p>Введите пароль :</p>
    @Html.Password("Password")
    <p>Повторите пароль :</p>
    @Html.Password("PasswordClone")
    
    <p>Введите адрес электронной почты: </p>
    @Html.TextBox("Email")
    
    <p>Введите имя: </p>
    @Html.TextBox("Name")
    <p>Введите фамилию: </p>
    @Html.TextBox("Sirname")

    <p>Введите информацию о себе: </p>
    @Html.TextArea("Info")
    
    <p><input type="submit" value="Отправить" /></p>
  */
    <br>
   <h2><font color="green"><center> Регистрация </center></font></h2>
    <br><br>
    <table border="0" width="100%" align="left">
	<tr><td align="right" width="50%"><b>Введите логин: </b></td>
		<td>@Html.TextBox("Login")</td></tr>
	<tr><td align="right" width="50%"><b>Введите пароль: </b></td>
		<td>@Html.Password("Password")</td></tr>
	<tr><td align="right" width="50%"><b>Повтор пароля: </b></td>
		<td>@Html.Password("PasswordClone")</td></tr>
	<tr><td align="right" width="50%"><b>Введите фамилию: </b></td>
		<td>@Html.TextBox("Sirname")</td></tr>
	<tr><td align="right" width="50%"><b>Введите имя: </b></td>
		<td>@Html.TextBox("Name")</td></tr>
	<tr><td align="right" width="50%"><b>Введите адрес электронной почты: </b></td>
		<td>@Html.TextBox("Email")</td></tr>
	<tr><td align="right" width="50%"><b>Введите информацию о себе: </b></td>
		<td>@Html.TextArea("Info")</td></tr>
	<input type=hidden value=1 name=type>
	<tr><td align="right"></td><td>
		<input type=submit value="Отправить"></tr>
</table>
}