@model UI.Models.UserModel

@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm("Register", "UserData", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <br>
    <table>
<tr><td width="30%"></td>
        <td>
    <h2><font color="green"><center> Регистрация </center></font></h2>
    <br><br>
    <table border="0" width="100%" align="left">
        <tr>
            <td align="right" width="50%"><b>Введите логин: </b></td>
            <td>@Html.TextBox("Login")</td>
            <td><font color="red">@Html.ValidationMessage("Login")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Введите пароль: </b></td>
            <td>@Html.Password("Password")</td>
            <td><font color="red">@Html.ValidationMessage("Password")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Повтор пароля: </b></td>
            <td>@Html.Password("PasswordClone")</td>
            <td><font color="red">@Html.ValidationMessage("PasswordClone")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Введите фамилию: </b></td>
            <td>@Html.TextBox("Sirname")</td>
            <td><font color="red">@Html.ValidationMessage("Sirname")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Введите имя: </b></td>
            <td>@Html.TextBox("Name")</td>
            <td><font color="red">@Html.ValidationMessage("Name")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Введите адрес электронной почты: </b></td>
            <td>@Html.TextBox("Email")</td>
            <td><font color="red">@Html.ValidationMessage("Email")</font></td>
        </tr>
        <tr>
            <td align="right" width="50%"><b>Введите информацию о себе: </b></td>
            <td>@Html.TextArea("Info")</td>
            <td><font color="red">@Html.ValidationMessage("Info")</font></td>
        </tr>
        <input type=hidden value=1 name= type>
        <tr>
            <td align="right"></td>
            <td>
                <input type=submit value="Отправить">
        </tr>
    </table>
</td>
    <td width="20%">
        <img src="/Content/Images/blocnot.jpg" width="150" height="150" align="right">
    </td></tr></table>
}